{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

<style type="text/css">


  .category {
    text-align: center;
  }
  .category p {
    font-size: 21px;
  }


  .prompts {
    text-align: center;
    background-color: #eaf6f5;
    padding-top: 1px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .prompts p {
    font-size: 21px;
  }

  .page-divide {
    background-color: #005DA6;
    max-height: 1.1rem;
  }


</style>

<div class="phase-banner">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>

<p style="text-align:left;margin:0;">
      <span style="left:0px; top:15px;position:relative;font-size:16px;"><a href="index" class="link-back">Back</a></span>
  </p>


  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="guidance-page" method="get" class="form" id="action_now_form" name="action_now_form">

      <h2 class="heading-large">
        Digital inclusion data for <span style="color: #005DA6;">Right to work</span>
      </h1>

    <p>Below are the research participants' categories that have been entered to date:</p>
  </div>
  </div>
</br>
  <div class="grid-row">
    <div class="column-full">
    <img src="/public/images/dashboard-bar.svg">
</div>
</div>



</form>



</main>


{% endblock %}
