{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

<style type="text/css">


  .category {
    text-align: center;
  }
  .category p {
    font-size: 21px;
  }


  .prompts {
    text-align: center;
    background-color: #eaf6f5;
    padding-top: 1px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .prompts p {
    font-size: 21px;
  }

  .page-divide {
    background-color: #005DA6;
    max-height: 1.1rem;
  }


</style>





  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Map your research participants
      </h1>
    </div>
  </div>

<div class="grid-row">
  <div class="column-two-thirds">
    <p>This is a reference tool for you to support finding out and recording the digital inclusion category of your research participants.</p>
    <p>Below are suggestions of questions and activities that could be used during your research session to help expose signifiers of digital confidence. Please refer to the digital inclusion information for reminders of each category.</p>
  </div>
  <div class="column-one-third">

  <div class="info-link" style="border-top:6px solid #005DA6; padding-top:15px;">
    <a href="#scale">Digital Inclusion Categories</a>
  <div style="line-height:40%;">
    <br>
</div>
    <a href="">View your project's digital inclusion information</a>
  </div>

</br>
  <div class="plot-participant">
  <a class="button button-start" href="enter-info" role="button">record your participant</a>
</div>

</div>
</div>

</br>
</br>
<div class="questions-activities">
<div class="grid-row">
  <div class="column-full">
    <div class="page-divide">
    <br></br>
  </div>
    <h2 class="heading-large">
    Activities and questions
    </h2>
</div>
</div>

</br>


<div class="grid-row">
  <div class="column-full">
    <div class="prompts">
      <h2 class="heading-medium">
        Activity
      </h2>
      <p>
        Ask your participant to download the consent form for the session from an email. Ask them to fill it out online and attach it to an email to send back
      </p>
    </div>
  </div>
</div>

</br>

<div class="grid-row">
  <div class="column-full">
  <div class="prompts">
    <h2 class="heading-medium">
      Question
    </h2>
    <p>
      “Please would you talk me through how you/what you  use your phone day to day?”
    </p>
  </div>
</div>
</div>


</br>

<div class="grid-row">
  <div class="column-full">
  <div class="prompts">
    <h2 class="heading-medium">
      Activity
    </h2>
    <p>
      Ask your participant to copy the information they are being tested with from an online/digital source
    </p>
  </div>
</div>
</div>

</br>

<div class="grid-row">
  <div class="column-full">
  <div class="prompts">
    <h2 class="heading-medium">
      Question
    </h2>
    <p>
      “How do you use your phone/computer mostly; is it mainly for work, social arrangement, or entertainment?”
    </p>
  </div>
</div>
</div>

</br>

<div class="grid-row">
  <div class="column-full">
  <div class="prompts">
    <h2 class="heading-medium">
      Activity
    </h2>
    <p>
      Ask your participant to change the settings on their browser    </p>
  </div>
</div>
</div>

</br>

<div class="grid-row">
  <div class="column-full">
  <div class="prompts">
    <h2 class="heading-medium">
      Activity
    </h2>
    <p>
      Ask your participant to save a bookmark, and then later come back to it </p>
  </div>
</div>
</div>



</div>

</br>

</br>
<div class="column-full">
  <div class="page-divide">
  </br>
</div>

<div class="grid-row">
  <div class="column-full">
    <h2 class="heading-large">
      <a name="scale">
    Digital inclusion scale categories</a>
</h2>
</div>
</div>


<div class="grid-row">
  <div class="column-one-third">
    <div class="category">
      <div class="panel" style="border-color: #eaf6f5;background-color: #eaf6f5; margin-bottom:0px; margin-top:30px;margin-left:0px;margin-right:0px;">
    <h2 class="heading-medium">
Category 1</h2>
<p>Never have,</br>
never will
</p>
</div>
</div>
</div>

<div class="column-one-third">
  <div class="category">
    <div class="panel" style="border-color: #eaf6f5;background-color: #eaf6f5; margin-bottom:0px; margin-top:30px;margin-left:0px;margin-right:0px;">
  <h2 class="heading-medium">
Category 2</h2>
<p>Was online</br>
but no longer
</p>
</div>
</div>
</div>

<div class="column-one-third">
  <div class="category">
    <div class="panel" style="border-color: #eaf6f5;background-color: #eaf6f5; margin-bottom:0px; margin-top:30px;margin-left:0px;margin-right:0px;">
  <h2 class="heading-medium">
Category 3</h2>
<p>Willing but</br>
unable
</p>
</div>
</div>
</div>

</div>

<div class="grid-row">
  <div class="column-one-third">
    <div class="category">
      <div class="panel" style="border-color: #eaf6f5;background-color: #eaf6f5; margin-bottom:0px; margin-top:30px;margin-left:0px;margin-right:0px;">
    <h2 class="heading-medium">
Category 4</h2>
<p>Reluctantly</br>
online
</p>
</div>
</div>
</div>

<div class="column-one-third">
  <div class="category">
    <div class="panel" style="border-color: #eaf6f5;background-color: #eaf6f5; margin-bottom:0px; margin-top:30px;margin-left:0px;margin-right:0px;">
  <h2 class="heading-medium">
Category 5</h2>
<p>Learning </br>
the ropes
</p>
</div>
</div>
</div>

<div class="column-one-third">
  <div class="category">
    <div class="panel" style="border-color: #eaf6f5;background-color: #eaf6f5; margin-bottom:0px; margin-top:30px;margin-left:0px;margin-right:0px;">
  <h2 class="heading-medium">
Category 6</h2>
<p>Task</br>
specific
</p>
</div>
</div>
</div>

</div>

<div class="grid-row">
  <div class="column-one-third">
    <div class="category">
      <div class="panel" style="border-color: #eaf6f5;background-color: #eaf6f5; margin-bottom:0px; margin-top:30px;margin-left:0px;margin-right:0px;">
    <h2 class="heading-medium">
Category 7</h2>
<p>Basic skills
</p>
</div>
</div>
</div>

<div class="column-one-third">
  <div class="category">
    <div class="panel" style="border-color: #eaf6f5;background-color: #eaf6f5; margin-bottom:0px; margin-top:30px;margin-left:0px;margin-right:0px;">
  <h2 class="heading-medium">
Category 8</h2>
<p>Confident
</p>
</div>
</div>
</div>

<div class="column-one-third">
  <div class="category">
    <div class="panel" style="border-color: #eaf6f5;background-color: #eaf6f5; margin-bottom:0px; margin-top:30px;margin-left:0px;margin-right:0px;">
  <h2 class="heading-medium">
Category 9</h2>
<p>Expert
</p>
</div>
</div>
</div>

</div>

</br>
</br>

<div class="grid-row">
  <a href="#top">Back to top</a>
</div>










  </div>
</main>

{% endblock %}
