{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

<style type="text/css">


  .category {
    text-align: center;
  }
  .category p {
    font-size: 21px;
  }


  .prompts {
    text-align: center;
    background-color: #eaf6f5;
    padding-top: 1px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .prompts p {
    font-size: 21px;
  }

  .page-divide {
    background-color: #005DA6;
    max-height: 1.1rem;
  }


</style>





  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Map your research participants prototypes
      </h1>
    </div>
  </div>

<div class="grid-row">
  <div class="column-two-thirds">
    <h2 class="heading-medium">Latest version</h2>
    <p>Version 2 is the current prototype we are using. Still testing the concept of whether tasks and activities would be useful to help people find out DI, and if they undertand what this resource/tool is.</p>
    <h3><a href="v_02/index.html">Start here</a></h3>
  </br>
</br>
</br>
</div>
</div>

<div class="grid-row">

<table>
  <thead>
  <th>Versions</th>
  <th>Last updated</th>
  <th>Description</th>
  <th></th>
</thead>

<tbody>
  <tr>
<td>3</td>
<td>03rd October 2017</td>
<td>Update to model of adding participants</td>
<td><a class="view-link" href="/v_01">View</a></td>
</tr>
  <tr>
<td>1</td>
<td>05th September 2017</td>
<td>Initial primary function as a task and activity resource</td>
<td><a class="view-link" href="/v_01">View</a></td>
</tr>
</tbody>
</table>



  </div>

</main>

{% endblock %}
